@use "../variables" as *;

.heroContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
    text-align: center;
    color: $color-black-gray;
    background-color: $color-yellow;

    .titleContainer{
        position: relative;
        h1{
            font-size: 5rem;
            opacity: 0;

            @include respond("md") {
                font-size: 3rem;
                line-height: 3rem;
            }

        }

        .name{
            opacity: 0;

            position: absolute;
            right: -1.5rem;
            bottom: 0;
            transform: rotate(-12deg);
            color: $color-pink;

            @include respond("md") {
                right: 18px;
                bottom: -10px;
            }

        }

    }

  
    p{
        opacity: 0;
        font-size: 1.5rem;
        color: $color-black-gray;
    }
  
}